body{
    background-color:red;
}

.back-img{
    background-image: url("../download\ \(1\).jpg");
    width: 600px;
    height: 600px;
}

.posisi{
    background-image: url("../the\ rockowi.jpg");
    width: 1000px;
    height: 1100px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}